html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 550px;
    height: 550px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.form-element {
    width: auto;
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    flex: 1;
    margin: 5px;
}

.form-element:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
}

input[type="color"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.center-element {
    flex: 2;
    background: #FFFFFF;
    font-size: 25px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

button.form-element {
    /* white */

        background: #FFFFFF;
        /* gray/300 */

        border: 1px solid #D1D5DB;
        /* shadow/sm */

        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
}

button.form-element:hover {
    background-color: #0069d9;
}
